parameters:
	ignoreErrors:
		-
			message: '#^Unable to resolve the template type TMakeKey in call to static method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:make\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Api/ZohoCampaignsApi.php

		-
			message: '#^Unable to resolve the template type TMakeValue in call to static method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:make\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Api/ZohoCampaignsApi.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Campaigns.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Campaigns.php
